/* .products-main{
    width: auto;
    height: auto;
} */

/* .products-sizes {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    padding: 0px;
    margin: 0px; 
} */

/* .products-data {
    width: 80%;
    overflow: hidden;
} */

.products-row {
    display: flex;
    /* margin: 100px 200px; */
}
