/* .nav-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(41, 56, 92);
    color: #ffffff;
} */

/* .btn-getStarted{
    font-size: xx-large;
} */

/* .container-nav {
    font-size: small;
}

.col-nav-img {
    width: 80px;
}

.nav-img {
    width: 80%;
    height: 80%;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0px 10px;
    padding: 0px;
}

.nav-link-inner {
    display: inline-block;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    padding: 10px 20px;
    text-decoration: none;
} */

/* .btn-getStarted {
    background-color: #eb8181;
} */